.DS_Store
/local.properties
/.gradle
/.idea/android-project-combine.iml
/.idea/workspace.xml
/.idea/libraries
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/build
/captures
/repos
/repos.conf
/combine
/combine-settings.gradle
/conf
*.pyc
.settings
/*.iml
